### Analysis

This query joins ConfirmedGlobal_SQL_Final from CovidGlobal_modeled to 3_28_SQL_Final from CovidItaly_modeled on mathcing uid. We used two different aggregat functions. We used where clause to show only regions names Lombardia

In [7]:
%%bigquery
select I.region, sum(I.cases) as Lombardia_cases, avg(G._3_28_20) as Global_AVG
from CovidGlobal_modeled.ConfirmedGlobal_SQL_Final G join CovidItaly_modeled.3_28_SQL_Final I on I.uid = G.uid
where I.region = "Lombardia"
group by I.region

      region  Lombardia_cases  Global_AVG
0  Lombardia            32346     92472.0

This query joins DeathGlobal_SQL_Final from CovidGlobal_modeled to all tables CovidItaly_modeled on mathcing uid. We used two different aggregat functions. We used where clause to show only regions names Lombardia and group by it.

In [5]:
%%bigquery
select A.region, avg(A.cases + B.cases+ C.cases + D.cases + E.cases) as Lombardia_avg_cases, max(G._3_28_20 + G._3_27_20 + G._3_26_20 + G._3_25_20 + G._3_24_20) as Global_death_peak
from CovidItaly_modeled.3_24_SQL_Final A join CovidItaly_modeled.3_25_SQL_Final B on A.region = B.region join CovidItaly_modeled.3_26_SQL_Final C on A.region = C.region join CovidItaly_modeled.3_27_SQL_Final D on A.region = D.region join CovidItaly_modeled.3_28_SQL_Final E on A.region = E.region join CovidGlobal_modeled.DeathGlobal_SQL_Final G on A.uid = G.uid
where A.region = "Lombardia"
group by A.region

      region  Lombardia_avg_cases  Global_death_peak
0  Lombardia         12890.923077              41695

### Creating Views

Creating view for 1st query

In [8]:
%%bigquery
create or replace view reporting.v_Lombardia_Global_comparison as
select I.region, sum(I.cases) as Lombardia_cases, avg(G._3_28_20) as Global_AVG
from fluid-etching-266722.CovidGlobal_modeled.ConfirmedGlobal_SQL_Final G join fluid-etching-266722.CovidItaly_modeled.3_28_SQL_Final I on I.uid = G.uid
where I.region = "Lombardia"
group by I.region

Empty DataFrame
Columns: []
Index: []

creating view for 2nd query

In [6]:
%%bigquery
create or replace view reporting.v_Lombardia_confirmed_VS_Global_death as
select A.region, avg(A.cases + B.cases+ C.cases + D.cases + E.cases) as Lombardia_avg_cases, max(G._3_28_20 + G._3_27_20 + G._3_26_20 + G._3_25_20 + G._3_24_20) as Global_death_total
from fluid-etching-266722.CovidItaly_modeled.3_24_SQL_Final A join fluid-etching-266722.CovidItaly_modeled.3_25_SQL_Final B on A.region = B.region join fluid-etching-266722.CovidItaly_modeled.3_26_SQL_Final C on A.region = C.region join fluid-etching-266722.CovidItaly_modeled.3_27_SQL_Final D on A.region = D.region join fluid-etching-266722.CovidItaly_modeled.3_28_SQL_Final E on A.region = E.region join fluid-etching-266722.CovidGlobal_modeled.DeathGlobal_SQL_Final G on A.uid = G.uid
where A.region = "Lombardia"
group by A.region

Empty DataFrame
Columns: []
Index: []