### Analysis

This query finds top 10 countries having the highest average number of confirmed cases on March 28, 2020. I used aggergate function and group by country to achieve this desired effect.

In [1]:
%%bigquery
select country, avg(_3_24_20) as March_24, avg(_3_25_20) as March_25, avg(_3_26_20) as March_26,avg(_3_27_20) as March_27, avg(_3_28_20) as March_28
from CovidGlobal_modeled.ConfirmedGlobal_SQL_Final
group by country
order by avg(_3_28_20) desc
limit 10

       country  March_24  March_25  March_26  March_27  March_28
0           US   53736.0   65778.0   83836.0  101657.0  121465.0
1        Italy   69176.0   74386.0   80589.0   86498.0   92472.0
2        Spain   39885.0   49515.0   57786.0   65719.0   73235.0
3      Germany   32986.0   37323.0   43938.0   50871.0   57695.0
4         Iran   24811.0   27017.0   29406.0   32332.0   35408.0
5  Switzerland    9877.0   10897.0   11811.0   12928.0   14076.0
6       "Korea    8961.0    9037.0    9137.0    9241.0    9332.0
7      Belgium    4269.0    4937.0    6235.0    7284.0    9134.0
8      Austria    5283.0    5588.0    6909.0    7657.0    8271.0
9       Turkey    1872.0    2433.0    3629.0    5698.0    7402.0

This query finds top 10 states having highest confirmed cases. I then compared that number of casess in each states to number of deaths from Covid. I used two aggregate functions of sum and group by states. I then join DeathUSA_SQL_Final and ConfirmedUSA_SQL_Final on mathcing UID. Finally, I use where clause to filter out terrorities such as Puerto Rico.

In [8]:
%%bigquery
select C.state, sum(C._3_24_20 + C._3_25_20+ C._3_26_20 + C._3_27_20 + C._3_28_20) as USA_State_Confirmed_cases, sum(D._3_24_20 + D._3_25_20 +  D._3_26_20 + D._3_27_20 + D._3_28_20) as USA_State_Deaths
from CovidGlobal_modeled.ConfirmedUSA_SQL_Final C join CovidGlobal_modeled.DeathUSA_SQL_Final D on C.UID = D.UID
where C.terrority = "USA" and D.terrority = "USA"
group by C.state
order by USA_State_Confirmed_cases desc
limit 10

           state  USA_State_Confirmed_cases  USA_State_Deaths
0       New York                     131083              2746
1     New Jersey                      19711               234
2     California                      13189               265
3     Washington                      12344               605
4       Michigan                       9298               152
5       Illinois                       8274                82
6        Florida                       7682               101
7      Louisiana                       7496               249
8  Massachusetts                       6831                65
9   Pennsylvania                       5208                51

This simple query finds the number of recovered cases per 55 states and terrorities to help compared itself to death and confirmed cases in last query.

In [1]:
%%bigquery
select country, sum((_3_24_20 + _3_25_20 + _3_26_20 + _3_27_20 + _3_28_20)/55)
from CovidGlobal_modeled.RecoveredGlobal_SQL_Final
where country = "US"
group by country

  country        f0_
0      US  60.563636

### Creating Views

Creating view for 1st query

In [1]:
%%bigquery
create or replace view CovidGlobal_modeled.v_top_10_countries as
select country, avg(_3_24_20) as March_24, avg(_3_25_20) as March_25, avg(_3_26_20) as March_26,avg(_3_27_20) as March_27, avg(_3_28_20) as March_28
from fluid-etching-266722.CovidGlobal_modeled.ConfirmedGlobal_SQL_Final
group by country
order by avg(_3_28_20) desc
limit 10

Empty DataFrame
Columns: []
Index: []

Creatign view for 2nd query

In [2]:
%%bigquery
create or replace view CovidGlobal_modeled.v_top_10_USA_States as
select C.state, sum(C._3_24_20 + C._3_25_20+ C._3_26_20 + C._3_27_20 + C._3_28_20) as USA_State_Confirmed_cases, sum(D._3_24_20 + D._3_25_20 +  D._3_26_20 + D._3_27_20 + D._3_28_20) as USA_State_Deaths
from fluid-etching-266722.CovidGlobal_modeled.ConfirmedUSA_SQL_Final C join fluid-etching-266722.CovidGlobal_modeled.DeathUSA_SQL_Final D on C.UID = D.UID
where C.terrority = "USA" and D.terrority = "USA"
group by C.state
order by USA_State_Confirmed_cases desc
limit 10

Empty DataFrame
Columns: []
Index: []