### Creating Modeled BQ Dataset

In [1]:
covid = "CovidItaly_modeled"
!bq --location=US mk --dataset {covid}

Dataset 'fluid-etching-266722:CovidItaly_modeled' successfully created.

In [2]:
%%bigquery
create table CovidItaly_modeled.3_24 as
select data, stato, denominazione_regione, denominazione_provincia, sigla_provincia,lat, long, totale_casi
from CovidItaly_staging.dpc_covid19_ita_province_20200324

Empty DataFrame
Columns: []
Index: []

CovidItaly_modeled.3_24 does not have primary key

In [1]:
%%bigquery
create table CovidItaly_modeled.3_25 as
select data, stato, denominazione_regione, denominazione_provincia, sigla_provincia,lat, long, totale_casi
from CovidItaly_staging.dpc_covid19_ita_province_20200325

Empty DataFrame
Columns: []
Index: []

CovidItaly_modeled.3_25 does not have primary key

In [2]:
%%bigquery
create table CovidItaly_modeled.3_26 as
select data, stato, denominazione_regione, denominazione_provincia, sigla_provincia,lat, long, totale_casi
from CovidItaly_staging.dpc_covid19_ita_province_20200326

Empty DataFrame
Columns: []
Index: []

CovidItaly_modeled.3_26 does not have primary key

In [3]:
%%bigquery
create table CovidItaly_modeled.3_27 as
select data, stato, denominazione_regione, denominazione_provincia, sigla_provincia,lat, long, totale_casi
from CovidItaly_staging.dpc_covid19_ita_province_20200327

Empty DataFrame
Columns: []
Index: []

CovidItaly_modeled.3_27 does not have primary key

In [4]:
%%bigquery
create table CovidItaly_modeled.3_28 as
select data, stato, denominazione_regione, denominazione_provincia, sigla_provincia,lat, long, totale_casi
from CovidItaly_staging.dpc_covid19_ita_province_20200325

Empty DataFrame
Columns: []
Index: []

CovidItaly_modeled.3_28 does not have primary key

### Performing Transforms

We rename the attributes for all of these tables so they are easier to read. We create a primary keys for each of them and ensure they they have a foregin key.

In [13]:
%%bigquery
create or replace table CovidItaly_modeled.3_24_SQL_Final as
select "44984d1a-3ac7-42f1-aac5-079d19593e60" as uid, generate_uuid() as uid2, I.stato as country, I.denominazione_regione as region, I.denominazione_provincia as province,I.lat, I.long, I.totale_casi as cases
from CovidItaly_modeled.3_24 I

Empty DataFrame
Columns: []
Index: []

In [1]:
%%bigquery
select count(*) from CovidItaly_modeled.3_24_SQL_Final

   f0_
0  128

In [2]:
%%bigquery
select count(distinct uid2) from CovidItaly_modeled.3_24_SQL_Final

   f0_
0  128

In [ ]:
3_24_SQL_Final has primary key

In [5]:
%%bigquery
select count(*)
from CovidItaly_modeled.3_24_SQL_Final D left join CovidGlobal_modeled.ConfirmedGlobal_SQL_Final C
on C.UID = D.UID
where C.UID is null

   f0_
0    0

3_24_SQL_Final has foregin key

%%bigquery
create or replace table CovidItaly_modeled.3_25_SQL_Final as
select "44984d1a-3ac7-42f1-aac5-079d19593e60" as uid, generate_uuid() as uid2, I.stato as country, I.denominazione_regione as region, I.denominazione_provincia as province,I.lat, I.long, I.totale_casi as cases
from CovidItaly_modeled.3_25 I

In [6]:
%%bigquery
select count(*) from CovidItaly_modeled.3_25_SQL_Final

   f0_
0  128

In [7]:
%%bigquery
select count(distinct uid2) from CovidItaly_modeled.3_25_SQL_Final

   f0_
0  128

3_25_SQL_Final has primary key

In [9]:
%%bigquery
select count(*)
from CovidItaly_modeled.3_25_SQL_Final D left join CovidGlobal_modeled.ConfirmedGlobal_SQL_Final C
on C.UID = D.UID
where C.UID is null

   f0_
0    0

3_25_SQL_Final has foregin key

In [11]:
%%bigquery
create or replace table CovidItaly_modeled.3_26_SQL_Final as
select "44984d1a-3ac7-42f1-aac5-079d19593e60" as uid, generate_uuid() as uid2, I.stato as country, I.denominazione_regione as region, I.denominazione_provincia as province,I.lat, I.long, I.totale_casi as cases
from CovidItaly_modeled.3_26 I

Empty DataFrame
Columns: []
Index: []

In [12]:
%%bigquery
select count(*) from CovidItaly_modeled.3_26_SQL_Final

   f0_
0  128

In [13]:
%%bigquery
select count(distinct uid2) from CovidItaly_modeled.3_26_SQL_Final

   f0_
0  128

3_26_SQL_Final has primary key

In [14]:
%%bigquery
select count(*)
from CovidItaly_modeled.3_26_SQL_Final D left join CovidGlobal_modeled.ConfirmedGlobal_SQL_Final C
on C.UID = D.UID
where C.UID is null

   f0_
0    0

3_26_SQL_Final has foregin key

In [15]:
%%bigquery
create or replace table CovidItaly_modeled.3_27_SQL_Final as
select "44984d1a-3ac7-42f1-aac5-079d19593e60" as uid, generate_uuid() as uid2, I.stato as country, I.denominazione_regione as region, I.denominazione_provincia as province,I.lat, I.long, I.totale_casi as cases
from CovidItaly_modeled.3_27 I

Empty DataFrame
Columns: []
Index: []

In [16]:
%%bigquery
select count(*) from CovidItaly_modeled.3_27_SQL_Final

   f0_
0  128

In [17]:
%%bigquery
select count(distinct uid2) from CovidItaly_modeled.3_27_SQL_Final

   f0_
0  128

3_27_SQL_Final has primary key

In [18]:
%%bigquery
select count(*)
from CovidItaly_modeled.3_27_SQL_Final D left join CovidGlobal_modeled.ConfirmedGlobal_SQL_Final C
on C.UID = D.UID
where C.UID is null

   f0_
0    0

3_27_SQL_Final has foregin key

In [20]:
%%bigquery
create or replace table CovidItaly_modeled.3_28_SQL_Final as
select "44984d1a-3ac7-42f1-aac5-079d19593e60" as uid, generate_uuid() as uid2, I.stato as country, I.denominazione_regione as region, I.denominazione_provincia as province,I.lat, I.long, I.totale_casi as cases
from CovidItaly_modeled.3_28 I

Empty DataFrame
Columns: []
Index: []

In [21]:
%%bigquery
select count(*) from CovidItaly_modeled.3_28_SQL_Final

   f0_
0  128

In [22]:
%%bigquery
select count(distinct uid2) from CovidItaly_modeled.3_28_SQL_Final

   f0_
0  128

3_28_SQL_Final has primary key

In [23]:
%%bigquery
select count(*)
from CovidItaly_modeled.3_28_SQL_Final D left join CovidGlobal_modeled.ConfirmedGlobal_SQL_Final C
on C.UID = D.UID
where C.UID is null

   f0_
0    0

3_28_SQL_Final has foregin key