### Analysis

This query finds highest number of confirmed cases for each region. We used roughly 4 joins, and an aggregate function of sum to achieve this desired result.

In [2]:
%%bigquery
select A.region, avg(A.cases + B.cases + C.cases + D.cases + E.cases) as avg_cases
from CovidItaly_modeled.3_24_SQL_Final A join CovidItaly_modeled.3_25_SQL_Final B on A.region = B.region join CovidItaly_modeled.3_26_SQL_Final C on A.region = C.region join CovidItaly_modeled.3_27_SQL_Final D on A.region = D.region join CovidItaly_modeled.3_28_SQL_Final E on A.region = E.region
group by A.region
order by avg_cases desc
limit 10

           region     avg_cases
0       Lombardia  12890.923077
1  Emilia-Romagna   5176.600000
2          Veneto   4158.000000
3        Piemonte   3465.444444
4     P.A. Trento   3121.000000
5          Marche   2485.666667
6         Liguria   2397.800000
7    P.A. Bolzano   2203.000000
8           Lazio   1653.500000
9         Toscana   1392.636364

This query finds highest average number of confirmed cases for each province in region Lombardia. We used roughly 4 joins, and an aggregate function of avg to achieve this desired result.

In [10]:
%%bigquery
select A.province, avg(A.cases + B.cases+ C.cases+ D.cases+ E.cases) as avg_5_days
from CovidItaly_modeled.3_24_SQL_Final A join CovidItaly_modeled.3_25_SQL_Final B on A.region = B.region join CovidItaly_modeled.3_26_SQL_Final C on A.region = C.region join CovidItaly_modeled.3_27_SQL_Final D on A.region = D.region join CovidItaly_modeled.3_28_SQL_Final E on A.region = E.region
where A.region = "Lombardia"
group by A.province
order by avg_5_days desc
limit 10

                               province    avg_5_days
0                               Bergamo  17257.153846
1                               Brescia  16827.153846
2                                Milano  16230.153846
3                               Cremona  13590.153846
4                                  Lodi  12389.153846
5                                 Pavia  12028.153846
6                 Monza e della Brianza  11983.153846
7                               Mantova  11622.153846
8                                 Lecco  11544.153846
9  In fase di definizione/aggiornamento  11185.153846

### Creating Views

Creating view for 1st query

In [3]:
%%bigquery
create or replace view CovidItaly_modeled.v_highest_region_Italy as
select A.region, avg(A.cases + B.cases + C.cases + D.cases + E.cases) as avg_cases
from fluid-etching-266722.CovidItaly_modeled.3_24_SQL_Final A join fluid-etching-266722.CovidItaly_modeled.3_25_SQL_Final B on A.region = B.region join fluid-etching-266722.CovidItaly_modeled.3_26_SQL_Final C on A.region = C.region join fluid-etching-266722.CovidItaly_modeled.3_27_SQL_Final D on A.region = D.region join fluid-etching-266722.CovidItaly_modeled.3_28_SQL_Final E on A.region = E.region
group by A.region
order by avg_cases desc
limit 10

Empty DataFrame
Columns: []
Index: []

In [ ]:
Creating view for 2nd query

In [2]:
%%bigquery
create or replace view CovidItaly_modeled.v_highest_province_Lombardia as
select A.province, avg(A.cases + B.cases+ C.cases+ D.cases+ E.cases) as avg_5_days
from fluid-etching-266722.CovidItaly_modeled.3_24_SQL_Final A join fluid-etching-266722.CovidItaly_modeled.3_25_SQL_Final B on A.region = B.region join fluid-etching-266722.CovidItaly_modeled.3_26_SQL_Final C on A.region = C.region join fluid-etching-266722.CovidItaly_modeled.3_27_SQL_Final D on A.region = D.region join fluid-etching-266722.CovidItaly_modeled.3_28_SQL_Final E on A.region = E.region
where A.region = "Lombardia"
group by A.province
order by avg_5_days desc
limit 10

Empty DataFrame
Columns: []
Index: []